@import '../../../assets/scss/_variables';

.navigation {
	height: 70px;
	background: $black;
	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: inherit;
		width: calc(100% - 20%);
		margin: 0 auto;
		@media (max-width: 768px) {
			width: calc(100% - 6%);
		}
	}
	nav {
		width: calc(100% - 250px);
		.nav-list {
			display: flex;
			justify-content: flex-end;
			margin: 0;
			padding: 0;
			list-style: none;
			align-items: center;
			li {
				.link {
					padding: 0px 14px;
					color: $white;
					text-decoration: none;
					background-color: transparent;
					transition: background-color 0.5s ease-in-out;
					&:hover {
						color: #53c1df;
					}
				}
				.active {
					color: #53c1df;
				}
				&:not(:last-of-type) {
					padding-right: 10px;
				}
			}
		}
	}
}
